.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.dragZoneContainer {
  width: auto;
  height: 100%;
  min-height: 500px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  border: 0.5px solid rgb(66, 160, 71);
  border-radius: 10px;
  overflow: auto;
}
.m-Container {
  width: 100%;
  height: 100%;
}
.mediaContainer {
  width: 70%;
  height: 100%;
  min-height: 550px;
  position: relative;
  background-color: white;
  border-right: 1px solid rgb(66, 160, 71);
  float: left;
}
.detailContainer {
  display: inline-block;
  width: 30%;
  height: auto;
  min-height: 550px;
  /* border-radius: 10px; */
  background-color: rgb(231, 231, 231);
  border-left: none;
}
.listPanel {
  /* padding: 20px; */
  display: inline-block;
  list-style-type: none;
  /* border: 0.5px solid whitesmoke; */
  position: relative;
  width: 150px;
  /* display: flex;
  justify-content: center;
  align-items: center; */
}
.load {
  position: absolute;
  width: 100%;
  height: 20px;
  border: 0.5px solid blue;
  border-radius: 20px;
  background-color: white;
  top: calc((100% - 20px) / 2);
  left: 0;
  display: flex;
  overflow: hidden;
}
.statusLoad {
  width: 0;
  height: 100%;
  background-color: red;
  border-radius: 20px;
}
.imgPanel {
  border: 0.5px solid whitesmoke;
}
.textPanel {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
.imgContainer {
  position: absolute;
  width: 100%;
  height: 100%;
}
.imgContainer > li {
  list-style-type: none;
}
.imgPanelsss {
  display: inline-block;
  width: 100px;
  height: 100px;
  background-color: yellow;
}

.thumbsContainer {
  position: absolute;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-x: hidden;
  width: 100%;
  height: 100%;
}
.thumb {
  position: relative;
  display: inline-flex;
  border-radius: 2;
  width: 200px;
  height: 200px;
  padding: 10px;
  box-sizing: border-box;
}
.thumbInner {
  display: flex;
  min-width: 0;
  overflow: hidden;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.301), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  transition: all ease-in-out 600ms;
}
.thumbInner:hover {
  box-shadow: 0 4px 8px 0 rgba(83, 83, 83, 0.185);
}
.img {
  display: block;
  width: auto;
  height: 100%;
}
.trashPanel {
  position: absolute;
  right: 15px;
  top: 15px;
  border-top: 5px solid rgba(236, 231, 231, 0.561);
  border-right: 5px solid rgba(236, 231, 231, 0.561);
  border-bottom: 5px solid transparent;
  border-left: 5px solid transparent;
  cursor: pointer;
}
.spin {
  position: absolute;
  width: 150px;
  left: 0;
  top: 30%;
}
